:root{
    --color-primary:  hsl(158, 36%, 37%);
    --color-text: hsl(228, 12%, 48%);
}

html{
    font-size: 10px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: hsl(30, 38%, 92%);
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
}



/*Products*/
.product{
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 38rem;
}

@media screen and (min-width:768px){
    .product{
        width: 65rem;
    }
}

.product:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px 10px #ccc;

}

.product__image{
    background: url(../images/image-product-mobile.jpg);
    background-size: 100% 25rem;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 25rem;
}

@media screen and (min-width:768px){
    .product__image{
        background: url(../images/image-product-desktop.jpg);
        background-size: 100% 100%;
        width: 100%;
        height: 45rem;
        border-radius: 10px 0 0 10px;
       } 
}

.product__name{
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: var(--color-text);
    font-weight: 500;
}

@media screen and (min-width:768px){
    .product__name{
        margin: 3rem 0;
    }
}


.product__content{
    padding: 0 1.5rem 2rem;
    display: flex;
    flex-direction: column;
}

.product__heading{
    color: hsl(212, 21%, 14%);
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    line-height: 1.05;
    margin: 0.2rem 0;
}

@media screen and (min-width:768px){
    .product__heading{
        width: 10ch;
    }
}

.product__description{
    color: var(--color-text);
    line-height: 1.7;
    width: 30ch;
}

.product__pricing{
    color: var(--color-primary);
    font-size: 3.3rem;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
}

.product__pricing-off{
    padding-left: 1rem;
    color: var(--color-text);
    text-decoration: line-through;
    position: relative;
    bottom: 6px;
}

@media screen and (min-width:768px){
    .product__pricing,
    .product__pricing-off{
        margin: 2.5rem 0;
    }
}



/**Icons*/
.icon{
    width: 17px;
    height: 17px;
}



/*Buttons*/
.btn{
    border-radius: 6px;
    padding: 1.3rem 7rem;
    text-align: center;
}

.btn--primary{
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover{
 background: hsl(158, 34%, 31%);   
}



/*Grid*/
.grid{
    display: grid;
}

@media screen and (min-width:768px){
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
}


.attribution a{
    text-decoration: none;
}

